In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [2]:
stocks_2017 = DataFrame()#Uno todos las hojas del libro stocks 2017 en un solo DF
for i in range (12):
    df_stocks = pd.read_excel('../BBDD_proyecto_final/Stocks_2017.xlsx', sheet_name = i, index_col = False)
    stocks_2017 = stocks_2017.append(df_stocks)

In [3]:
stocks_2017.reset_index(inplace = True)
#stocks_2017

In [4]:
stocks_2018 = DataFrame()
for i in range (12):
    df_stocks = pd.read_excel('../BBDD_proyecto_final/Stocks_2018.xlsx', sheet_name = i, index_col = False)
    stocks_2018 = stocks_2018.append(df_stocks)

In [5]:
stocks_2018.reset_index(inplace = True)

In [6]:
#stocks_2018

In [7]:
stocks_2019 = DataFrame()
for i in range (8):
    df_stocks = pd.read_excel('../BBDD_proyecto_final/Stocks_2019.xlsx', sheet_name = i, index_col = False)
    stocks_2019 = stocks_2019.append(df_stocks)

In [8]:
stocks_2019.reset_index(inplace = True)

In [9]:
#stocks_2019

In [10]:
Stocks_1 = stocks_2017.append(stocks_2018)

In [11]:
#Stocks_1

In [12]:
Stocks_total = Stocks_1.append(stocks_2019)

In [13]:
Stocks_total.reset_index(inplace = True)

In [14]:
Stocks_total["Total cantidades salida"]=Stocks_total["Total cantidades salida"].str.replace("-","")#limpio la columna cantidades de salida

In [15]:
Stocks_total["Total cantidades salida"]=Stocks_total["Total cantidades salida"].fillna(0)#Quito los NA sustituyendolos por cero

In [16]:
Stocks_total["Valor inicial"]=Stocks_total["Valor inicial"].str.replace("-","") #repito el proceso para las columnas con guion
Stocks_total["Valor inicial"]=Stocks_total["Valor inicial"].fillna(0)
Stocks_total["Valor final"]=Stocks_total["Valor final"].str.replace("-","")
Stocks_total["Valor final"]=Stocks_total["Valor final"].fillna(0)

In [17]:
Stocks_total= Stocks_total.drop(["level_0", "index"], axis = 1) #Limpio las columnas que no me sirvenº

In [18]:
Stocks_total["De fecha"] = Stocks_total["De fecha"].str.replace(".","/")
Stocks_total["A fecha"] = Stocks_total["A fecha"].str.replace(".","/")

C:\Users\34699\anaconda3\envs\ironhack\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
C:\Users\34699\anaconda3\envs\ironhack\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [19]:
Stocks_total["De fecha"] = pd.to_datetime(Stocks_total["De fecha"], dayfirst=True)#convierto las columnas fecha de string a fecha
Stocks_total["A fecha"] = pd.to_datetime(Stocks_total["A fecha"], dayfirst=True)

In [20]:
Stocks_total["días_mes"] = Stocks_total["A fecha"]-Stocks_total["De fecha"]

In [21]:
Stocks_total.head(1000)

,ÁVal,Material,De fecha,A fecha,Stock inicial,Total ctd.entrada mcía.,Total cantidades salida,Stock de cierre,UMB,Valor inicial,Total valores entrada,Total valores salida,Valor final,Mon.,días_mes
0,3,80188664,2017-01-01,2017-01-31,0.0,0.0,0,0.0,UN,"24.128,00",0.0,0,"24.128,00",EUR,30 days
1,2250,51100BSIP7,2017-01-01,2017-01-31,0.0,0.0,0,0.0,KG,"115.859,70",0.0,0,"115.859,70",EUR,30 days
2,2,AA040000000SC,2017-01-01,2017-01-31,14876.483,23516.429,"20.882,429",17510.483,KG,"50.550,51",35383.25,"27.884,51-","43.051,77",EUR,30 days
3,3,AA040000000SC,2017-01-01,2017-01-31,14545.0,21444.956,"22.829,956",13160.0,KG,"491.125,56",35960.84,"26.403,96-","481.568,68",EUR,30 days
4,2250,AA040000000SC,2017-01-01,2017-01-31,0.0,0.0,0,0.0,KG,0,0.0,0,0,EUR,30 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,03,OCTAVIN500KVA,2017-02-01,2017-02-28,0,0,0,0,UN,"0,00","0,00","0,00","0,00",EUR,27 days
996,2250,OCTAVIN500KVA,2017-02-01,2017-02-28,50,0,0,50,UN,"1.345,45","32,10","32,10-","1.345,45",EUR,27 days
997,02,OXIETILENO0GC,2017-02-01,2017-02-28,119.883,"889.619,111","897.333,071","112.169,040",KG,"7.408.249,87","883.635,67","1.106.424,57-","7.185.460,97",EUR,27 days
998,03,OXIETILENO0GC,2017-02-01,2017-02-28,322.939,"2.844.013,921","2.776.172,921",390.780,KG,"14.869.321,29","2.548.002,21","2.986.914,94-","14.430.408,56",EUR,27 days
999,02,PALET120100UN,2017-02-01,2017-02-28,0,0,0,0,UN,"0,00","0,00","0,00","0,00",EUR,27 days