In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [ ]:
#pip install pretty-html-table

In [2]:
import smtplib
import smtplib, ssl
from pretty_html_table import build_table
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

In [3]:
df_final = pd.read_csv("../output/consolidado.csv")

In [4]:
#Meto el fichero en el que se incluye el stock actual por mmpp
stock_actual = pd.read_excel('../../BBDD_proyecto_final/stock_actual_sol.xlsx', sheet_name = "stock_actual", index_col = False)

In [5]:
#df_final.head()

In [6]:
stock_actual.head()

         id_mmpp  Stock_actual
0  2250_mmpp_102      354800.0
1  2250_mmpp_107       55205.0
2  2250_mmpp_110         769.0
3  2250_mmpp_118       38492.5
4  2250_mmpp_123       23340.0

In [7]:
#creo un unico dataframe
consolidado_final = df_final.merge(stock_actual, on='id_mmpp', how='left')

In [8]:
consolidado_final.head()

,Unnamed: 0,id_mmpp,Consumo_diario,Plazo de entrega,Stock de seguridad,punto_pedido,Stock_actual
0,244,2250_mmpp_102,3633.080359,8.0,350000.0,379064.642871,354800.0
1,247,2250_mmpp_107,1029.582816,3.0,0.0,3088.748447,55205.0
2,248,2250_mmpp_110,4.948102,15.0,300.0,374.221524,769.0
3,249,2250_mmpp_118,1502.440370,20.0,30000.0,60048.807403,38492.5
4,250,2250_mmpp_123,392.969190,15.0,15000.0,20894.537845,23340.0

In [30]:
def send_email(temperature):
    fromaddr = "prueba.stocks.ironhack@gmail.com"
    toaddr = "sm.oriol.lapetra@gmail.com"
    msg = MIMEMultipart()
    msg['From'] = fromaddr
    msg['To'] = toaddr
    msg['Subject'] = "Necesidad de compra  "
    body = "La materia prima" + temperature + "ha llegado al punto de pedido"
    msg.attach(MIMEText(body, 'plain'))
    server = smtplib.SMTP('smtp.gmail.com', 587)
    server.ehlo()
    server.starttls()
    server.login(fromaddr, "efdgiyqmdioyunec")
    text = msg.as_string()
    server.sendmail(fromaddr, toaddr, text)
    server.quit()


#f = open("temp_log.txt", "r")
#content = f.read()
#temp = content.split(' ')[1]
#if float(temp) > 35:
    #(temp)

In [31]:
send_email("prueba")